@font-face {
  font-family: 'LaFamiile';
  src: url('/Fonts/shopie/Shopie.otf') format('truetype');
  font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

/*Menu principal*/
.main-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    color: white;
    backdrop-filter: blur(5px);
    border-bottom: solid 3px;
    border-color: rgba(244,182,48, 0.8);
    z-index: 3;
}

.toast-menu{
    display: none;
    width: 10%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toast-menu-button {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 20pt;
    color: white;
    cursor: pointer;
}

.toast-menu-button:hover{
    color: rgb(244,182,48);
}

.logo-img {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-img img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.main-menu ul {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}

.main-menu a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.icons {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.icons a {
    text-decoration: none;
    text-align: center;
}

.icons a img {
    width: 20px;
    object-fit: contain;
}

.main-menu a:hover {
    color: rgb(244,182,48);
    transition: 1s;
}

/*botão whatsapp*/
.whatsapp {
    width: 100%;
    height: 90vh;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 25pt;
    
    animation: atention 0.2s ease-in-out 4;
}

.whatsapp a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #33d66f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    animation: pulse 5s infinite;
}

/*Seção principal*/
.hero-section{
    width: 100%;
    height: 600px;
    background-image: url("../Imgs/hero-img-3.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;

}
.hero-text {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    z-index: 2;
}
.hero-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1;
}

.hero-text h2 {
    margin-left: 100px;
    font-size: 25pt;
    text-shadow: -8px 1px 20px black ;
}
.title-and-subtitle {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text h1 {
    font-family: 'LaFamiile';
    font-size: 100pt;
    font-weight: normal;
    border-bottom: double 5px;
    text-shadow: -8px 1px 20px black ;
    border-color: rgba(244,182,48, 1);
}

.hero-text h3 {
    font-size: 25pt;
    text-shadow: -8px 1px 20px black ;
}

.hero-section img{
    width: 100%;
}

/*Seção de teste*/
.teste {
    width: 100%;
    height: 3000px;
    background-color: aqua;
}

@media (max-width: 700px) {

    .logo-img {
        width: 40%;
    }

    .main-menu {
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
    }
    .toast-menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        width: 10%;
    }

    .icons {
        width: 45%;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: center;
    }

    .main-menu ul {
        display: none;
    }
    .hero-text h1 {
        font-size: 80pt;
    }
    .hero-text h2 {
        font-size: 20pt;
    }
    .hero-text h3 {
        font-size: 20pt;
    }

    .redes-sociais {
        width: 30%;
    }
}

@media (max-width: 900px) {
    .main-menu {
        font-size: 17px;
    }
    .main-menu .icons a img {
        width: 17px;
    }
    .hero-text {
        align-items: center;
    }

    .hero-text h1 {
        margin-left: 0px;
    }
    .hero-text h2 {
        margin-left: 0px;
    }
    .hero-text h3 {
        margin-left: 0px;
    }
    .title-and-subtitle {
        margin-left: 0px;
    }
}

/*Animações*/
@keyframes pulse {

  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes atention {
    0% { transform: translateX(5px);}
    25% { transform: translateX(0px);}
    50% {transform: translateX(5px);}
    100% {transform: translateX(0px);}
}
